        @media screen and (min-width: 768px) {
            .dropdown-menu {
                position: relative;
                float: none;
                font-size: 20px;
                width: 70%;
                margin: 0 15%;
            }

            .cb-search-tool {
                position: fixed;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-color: rgba(0, 0, 0, 0.85);
                z-index: 9999;
                display: none;
            }

            .cb-search-tool ul {
                width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
                border-radius: 12px;
                padding: 0;
            }

            .cb-search-tool ul li {
                height: 50px;
                width: 100%;
                display: flex;
                /* 将 <li> 设为弹性布局容器 */
                align-items: center;
                /* 子元素垂直居中 */
            }

            .cb-search-tool ul li a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                \
            }

            .cb-search-tool ul li a strong {
                color: #27ae60;
            }

            .dropdown-menu>.active>a,
            .dropdown-menu>.active>a:hover,
            .dropdown-menu>.active>a:focus {
                background-color: transparent;

            }

            .cb-search-tool ul .active {
                background-color: #6666cc;

            }

            .cb-search-content {
                width: 70%;
                margin: 0 15%;
                position: absolute;
                top: 13%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 60px;
                background-color: #fff;
                color: black;
                opacity: 1.0;
                border-radius: 12px;
            }
        }


        @media screen and (max-width: 767px) {
            .dropdown-menu {
                position: relative;
                float: none;
                font-size: 1em;
                width: 70%;
                margin: 0 2%;
            }

            .cb-search-tool {
                position: fixed;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-color: rgba(0, 0, 0, 0.85);
                z-index: 9999;
                display: none;
                width: 100%;
            }



            .cb-search-tool ul {
                width: 88%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
                border-radius: 12px;
                padding: 0;
                margin-left: 6%;
            }

            .cb-search-tool ul li {
                height: 50px;
                width: 100%;
                display: flex;
                /* 将 <li> 设为弹性布局容器 */
                align-items: center;
                /* 子元素垂直居中 */
            }


            .cb-search-tool ul li a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                \
            }

            .cb-search-tool ul li a strong {
                color: #27ae60;
            }

            .dropdown-menu>.active>a,
            .dropdown-menu>.active>a:hover,
            .dropdown-menu>.active>a:focus {
                background-color: transparent;

            }

            .cb-search-tool ul .active {
                background-color: #6666cc;

            }

            .cb-search-content {
                width: 86%;
                margin: 0 7%;
                position: absolute;
                top: 10%;
                left: auto;
                right: auto;
                font-size: 1em;
                height: 60px;
                background-color: #fff;
                color: black;
                opacity: 1.0;
                border-radius: 12px;

            }
        }