:root {

    --background-color-light: #f2f5f6;
    --background-color-dark: #3d3d3d;

    --box-color-light:#ffffff;
    --box-color-dark:#262626;

    --subbox-color-light:#F5F7F8;
    --subbox-color-dark:#2d2d2d;

    --tiptag-color-light:#f0f0fa;
    --tiptag-color-dark:#303033;


    --font-title-color-light:#37374c;
    --font-title-color-dark:#bfb9b1;

    --font-des-color-light:#3d3d52;
    --font-des-color-dark:#c5bfb7;

    --font-light-dark-light:#aaaaaa;
    --font-light-dark-dark:#5d5d5d;

    --font-active-color-light:#6666cc;
    --font-active-color-dark:#6666cc;
}



a,
aside,
body,
div,
footer,
html,
i,
img,
li,
nav,
p,
section,
ul {}

li {
    list-style: none
}

a {
    text-decoration: none
}

body {
    font-size: 15px;
    color: #4d4d4d;
    font-family: Helvetica Neue, Microsoft Yahei;
    background-color: var(--background-color-light);

}



#mainContent {
    max-width: 1200px
}

.box {
    overflow: hidden;
    margin: 0 2% 2% 2%;
    background: #fff;
    padding-bottom: 2%;
    border-radius: 8px;
}

.box .sub-category>div {
    padding: 2% 0 0 2%;
    font-size: 18px
}

.box .item {
    width: -webkit-calc(20.5% - 2px);
    width: -moz-calc(20.5% - 2px);
    width: calc(25% - 2px);
    border: 1px solid #e4ecf3;
    box-shadow: 1px 1px 1px #999;
    border-radius: 8px;
    background: #fff;
    padding: 1%;
    min-width: 200px;
    margin: 2% 0 0 2%;
    float: left;
    overflow: hidden;
    transition: all .3s;
    background: #fff;
}

.box .item:hover {
    transform: translateY(-5px)
}

.box .item .no-logo {
    color: #3273dc;
    font-weight: 700;
    font-size: 14px;
    padding: 0 .1rem;
}

.box .item .logo {
    height: 40px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #3273dc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 .1rem;
}

.box .item .logo img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 4px;
}

.box .item .logo text {
    padding-left: 10px;
    font-size: 14px;
}

.box .item .desc {
    color: #afafaf;
    font-size: 4px;
    padding-top: 8px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 200;
    margin-left: 8px;
}


/*头像设置*/

.round_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    clear: both;
    display: block;
    margin: auto;
    -webkit-transition: -webkit-transform 1.0s ease-out;
    -moz-transition: -moz-transform 1.0s ease-out;
    transition: transform 1.0s ease-out;
    border: 1px solid #eeeeee;
}


/* 头像旋转 */

.round_icon:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}


.skill_box img {
    width: 3em;
    height: 3em;
    margin: 6px 2px;
}

.profile {
    position: relative;
    /*background: #fff;*/
    margin: 2em 2em 0 2em;
    padding: 1em 1em 0.5em 1em;
    opacity: 1;
    /*min-height: 20em;*/
    /*height: 100%;*/
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}


.center {
    text-align: center;
}

.profile .nickname {
    margin-top: 0.5em;
    border-bottom: 0.01em solid #b2b2c5;
    padding-bottom: 0.5em;
    font-family: cursive;
    font-size: 1.5em;
    color: #37374c;
}


.profile_desc {
    margin-top: 2em;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 0.5em;
    color: #37374c;
}

.profile_subdesc {
    margin-top: 0.5em;
    letter-spacing: 1px;
    font-size: 0.85em;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 1.0em;
    color: #aaa;
}


a.profile_gavatar {
    position: relative;
    width: 7em;
    height: 7em;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    /* border: 0.02em solid #37374c; */
    box-shadow: 1px 1px 2px #dfd6d6;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    display: -webkit-box;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


a.profile_gavatar .circle {
    opacity: 1;
    height: 100%;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}


.light-sweep {
    position: absolute;
    display: inline-block;
    -webkit-animation: changeImg 3s ease 0s;
    -o-animation: changeImg 3s ease 0s;
    animation: changeImg 3s ease 0s;
    top: 0;
    width: 30%;
    height: 100%;
    content: "";
    background: -webkit-linear-gradient(left, rgba(236, 236, 236, 0) 0, rgba(236, 236, 236, .4) 50%, rgba(236, 236, 236, 0) 100%);
    background: -o-linear-gradient(left, rgba(236, 236, 236, 0) 0, rgba(236, 236, 236, .4) 50%, rgba(236, 236, 236, 0) 100%);
    background: -moz-linear-gradient(left, rgba(236, 236, 236, 0) 0, rgba(236, 236, 236, .4) 50%, rgba(236, 236, 236, 0) 100%);
    background: linear-gradient(to right, rgba(236, 236, 236, 0) 0, rgba(236, 236, 236, .4) 50%, rgba(236, 236, 236, 0) 100%);
    transform: skewX(-45deg);
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count:
        infinite;
}



@keyframes changeImg {
    from {
        left: -100%;
    }

    100% {
        left: 150%;
    }
}

.donate {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 0xp none #f9f9f9;
    position: absolute;
    bottom: 0;
    right: 0;
    height:240px;
}

@media screen and (max-width:481px) {
    .container .box .item {
        width: -webkit-calc(48% - 4px);
        width: -moz-calc(48% - 4px);
        width: calc(48% - 4px);
        min-width: 100px
    }

    .container {
        margin-left: 0
    }

    .container .left-bar {
        z-index: 999;
        left: -249px
    }

    #menu-box {
        display: block
    }

    .profile {
        margin-bottom: 0;
        min-height: 0;
    }

    .page-container .main-content {
        padding-top: 0;
    }

}

@media screen and (max-width:481px) {
    .container .left-bar {
        left: 0
    }

    .profile {
        margin-bottom: 0;
        min-height: 0;
    }

    .page-container .main-content {
        padding-top: 0;
    }

    .donate {
        position: relative;

    }
}

@media screen and (min-width:482px) and (max-width:790px) {
    .container .box .item {
        width: -webkit-calc(31% - 2px);
        width: -moz-calc(31% - 2px);
        width: calc(31% - 2px);
    }

    .container .left-bar {
        left: 0
    }

    .profile {
        margin-bottom: 0;
        min-height: 0;
    }

    .page-container .main-content {
        padding-top: 0;
    }

    .donate {
        position: relative;

    }
}

@media screen and (min-width:790px) and (max-width:990px) {
    .container .box .item {
        width: -webkit-calc(31% - 2px);
        width: -moz-calc(31% - 2px);
        width: calc(31% - 2px);
    }

    .sidebar-menu {
        display: none;
    }
}

@media screen and (min-width:990px) and (max-width:1920px) {
    .container .box .item {
        width: -webkit-calc(22.5% - 2px);
        width: -moz-calc(22.5% - 2px);
        width: calc(22.5% - 2px);
    }
}





/*适配黑夜模式*/
body.dark-mode {
    background-color: var(--background-color-dark);
}

body.dark-mode img {
    filter: brightness(50%); 
}

body.dark-mode .profile .nickname{
    color: var(--font-title-color-dark);
    border-bottom: 1px solid var(--font-light-dark-dark);
}

body.dark-mode .profile_desc{
    color: var(--font-title-color-dark);
}

body.dark-mode .profile_subdesc {
    color: #6c6c6c;
}
body.dark-mode .sidebar-menu.fixed .sidebar-menu-inner{
    border-color:var(--font-light-dark-dark);   
}

body.dark-mode .xe-widget.xe-conversations{
    background-color: var(--subbox-color-dark);
    box-shadow: 1px 1px 2px #604d4d;
}
body.dark-mode .xe-comment a{
    color: var(--font-title-color-dark);
}
body.dark-mode .xe-comment p{
    color: #8d8d8d;
}
body.dark-mode .sidebar-menu .main-menu a{
    border-bottom: 1px solid #474747;
}







