 :root {

     --background-color-light: #f2f5f6;
     --background-color-dark: #3d3d3d;

     --box-color-light: #ffffff;
     --box-color-dark: #262626;

     --subbox-color-light: #F5F7F8;
     --subbox-color-dark: #2d2d2d;

     --tiptag-color-light: #f0f0fa;
     --tiptag-color-dark: #303033;


     --font-title-color-light: #37374c;
     --font-title-color-dark: #bfb9b1;

     --font-des-color-light: #3d3d52;
     --font-des-color-dark: #c5bfb7;

     --font-light-dark-light: #aaaaaa;
     --font-light-dark-dark: #5d5d5d;

     --font-active-color-light: #6666cc;
     --font-active-color-dark: #6666cc;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background-color: #f0f0f0;
 }

 .introduceInfo {
     text-align: center;
     width: 100%;
 }

 .logo img {
     width: 144px;
     height: 144px;
     margin: 64px auto 24px;
     background-size: 100% 100%;
     box-shadow: 0px 0px 10px #4ba0ff;
     border-radius: 24px;
 /*   filter: grayscale(100%);
    opacity: .5;*/
 }

 h2 {
     line-height: 60px;
     font-size: 32px;
     font-weight: normal;
     text-align: center;
     margin: auto;
     padding: 8px 0;
 }

 .in-des {
     width: 80%;
     font-size: 16px;
     line-height: 28px;
     color: #999;
     text-align: center;
     margin: 0 auto;
 }

 .in-download {
     display: block;
     width: 260px;
     height: 64px;
     line-height: 64px;
     font-size: 24px;
     text-align: center;
     color: #FFF;
     background: #4ba0ff;
     border-radius: 42px;
     margin: 40px auto 10px auto;
     text-decoration: none;
 /*   filter: grayscale(100%);
    opacity: .5;*/
 }

 .in-bate-tip {
     width: 80%;
     font-size: 16px;
     line-height: 40px;
     color: #999;
     text-align: center;
     margin: 0 auto;
 }

 .in-bate-download {
     border-bottom: 1px solid #8d8d8d;
     color: #8d8d8d;
 }

 .versionInfo {
     color: rgb(168, 160, 149);
 }

 .change-model {
     display: flex;
     justify-content: center;
     margin: 80px 0 30px 0;
 }

 .change-model div {
     padding: 10px 20px;
     margin: 0 10px;
     cursor: pointer;
     color: #3d3d3d;
     background-color: #dae3ed;
     border-radius: 20px;
     transition: background-color 0.3s;
 }

 .change-model div.active {
     background-color: #4ba0ff;
     color: #efefef;

 }

 .carousel-container {
     width: 72%;
     overflow-x: auto;
     white-space: nowrap;
     scrollbar-width: none;
     -ms-overflow-style: none;
 }

 .carousel-container::-webkit-scrollbar {
     display: none;
 }

 .carousel {
     display: inline-block;
 }

 .carousel img {
     width: 20%;
     height: auto;
     display: inline-block;
     border-radius: 16px;
     margin-left: 20px;
     transition: opacity 0.3s ease-in-out;
 }

 .carousel img:first-child {
     margin-left: 0;
 }

 .carousel button {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 999;
     padding: 10px 20px;
     cursor: pointer;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     border: none;
     outline: none;
     font-size: 24px;
     transition: opacity 0.3s ease-in-out;
 }

 .des {
     width: 72%;
     margin: 0 auto;
     color: #37374c;

 }

 .des p {
     margin: 6px 0;
 }

 .detail-container {
     display: flex;
     flex-wrap: wrap;
 }

 .item {
     flex: 1 1 calc(50% - 20px);
     display: flex;
     align-items: center;
     justify-content: space-between;
    margin-bottom: 1.2em;
 }

 .item p {
     margin: 0;
     font-size: 16px;
     color: #37374c;
 }

 .item .title {
     margin-bottom: 5px;
 }

 .item .des {
     color: #8d8d8d;
 }

 .footer {
     font-size: 13px;
     color: #666;
     padding: 3em;
     margin-top: 15em;

 }

 .footer a {
     text-decoration: none;
     color: #666;
 }

 .page-hr {
     margin: 30px 0;
     width: 72%;
     background-color: #8d8d8d;
     height: 1px;
     border: none;
 }



 .change-model-records div {
     display: inline-block;

     padding: 10px 20px;
     cursor: pointer;
     color: #3d3d3d;
     background-color: #dae3ed;
     border-radius: 20px;
     transition: background-color 0.3s;
     margin-right: 10px;

 }

 .change-model-records div.active {
     background-color: #4ba0ff;
     color: white;
 }

 .timeline {
     position: relative;
     padding-left: 60px;
     list-style: none;
     padding-top: 2em;
     font-size: 16px;
 }

 .timeline::before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 44px;
     width: 2px;
     background-color: #ddd;
 }

 .timeline-item {
     position: relative;
     margin-bottom: 50px;
     list-style: none;
 }

 .timeline-item::after {
     content: '';
     position: absolute;
     left: -19px;
     top: 8px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background-color: #4ba0ff;
 }

 .timeline-content {
     padding-left: 20px;
     color: #858c92;

 }


 .timeline-version {}

 .timeline-date {
     font-family: heiti;
     margin-top: 10px;
 }

 .timeline-changes {
     margin-top: 10px;
     list-style: none;
     padding-left: 0;
 }

 .timeline-changes li {
     margin-bottom: 5px;
 }

 .records_title {
     color: #6b6868;
     font-weight: bold;

 }
 @media only screen and (max-width: 768px) {
    .timeline::before {
        left: 14px;
    }
    .timeline {
        padding-left: 30px;
        font-size: 14px;
    }
 }
 /* 在原有CSS基础上添加 */
 @media only screen and (max-width: 768px) {
     body {
         padding: 20px;
     }

     .introduceInfo {
         padding: 0 15px;
     }

     .logo img {
         width: 100px;
         height: 100px;
         margin: 32px auto 16px;
     }

     h2 {
         font-size: 24px;
         line-height: 32px;
         margin-bottom: 20px;
     }

     .in-des {
         width: 100%;
     }

     .in-des,
     .in-bate-tip {
         font-size: 14px;
         line-height: 22px;
         width: 100%;
         margin-top: 20px;
     }

     .in-download {
         width: 180px;
         height: 48px;
         line-height: 48px;
         font-size: 20px;
         margin: 24px auto 5px;
     }

     .versionInfo {
         font-size: 12px;
         margin-top: 4px;
     }

     .change-model {
         margin-top: 50px;
     }

     .change-model div {
         padding: 8px 16px;
         font-size: 14px;
     }

     .carousel-container {
         width: 100%;
     }

     .carousel img {
         width: 45%;
         margin-left: 5px;
     }

     .carousel img:first-child {
         margin-left: 0;
     }

     .des {
         width: 100%;
     }

     .des p {
         font-size: 14px;
         line-height: 20px;
     }

     .detail-container {
         flex-direction: column;
     }

     .item {
         flex: 1 1 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         min-height: 14px;
         max-height: 14px;
         box-sizing: border-box;
     }

     .item .title,
     .item .des {
         flex: 1;
         margin-bottom: 5px;
         box-sizing: border-box;
     }

     .item .title {
         color: #37374c;
         min-height: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-start;
     }

     .item .des {
         color: #8d8d8d;
         min-height: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-end;
     }

     .footer {
         padding: 10px;
         margin-top: 5em;
         font-size: 12px;
     }

     .page-hr {
         width: 100%;
     }
 }

 /*适配黑夜模式*/
 body.dark-mode {
     background-color: var(--background-color-dark);
 }

 body.dark-mode img {
     filter: brightness(50%);
 }

 body.dark-mode h1,
 body.dark-mode h2,
 body.dark-mode h3,
 body.dark-mode h4,
 body.dark-mode h5,
 body.dark-mode h6 {
     color: var(--font-title-color-dark);
 }

 body.dark-mode p {
     color: var(--font-title-color-dark);
 }

 body.dark-mode a {
     color: var(--font-title-color-dark);
 }

 body.dark-mode .page-hr {
     background-color: var(--font-light-dark-dark);
 }

 body.dark-mode .in-download,
 body.dark-mode .change-model div.active,
 body.dark-mode .change-model-records div.active,
 body.dark-mode .timeline-item::after
  {
     background-color: #4680c1;
 }

 body.dark-mode .change-model div,
 body.dark-mode .change-model-records div,
 {
     background-color: #858c94;
 }

 body.dark-mode .item .title {
     color: var(--font-title-color-dark);
 }


 body.dark-mode .records_title{
    color: #bac7d1;
 }

 body.dark-mode .timeline-content{
    color: #919aa1;
 }
