/* desert scheme ported from vim to google prettify */
pre.prettyprint {
    display: block;
    background-color: #282c34;
    color: #abb2bf;
    font-size: 14px !important;
}

pre .nocode {
    background-color: none;
    color: #000
}

pre .str {
    color: #ffa0a0
}

/* string  - pink */
pre .kwd {
    color: #f0e68c;
    font-weight: bold
}

pre .com {
    color: #87ceeb
}

/* comment - skyblue */
pre .typ {
    color: #98fb98
}

/* type    - lightgreen */
pre .lit {
    color: #cd5c5c
}

/* literal - darkred */
pre .pun {
    color: #abb2bf
}

/* punctuation */
pre .pln {
    color: #abb2bf
}

/* plaintext */
pre .tag {
    color: #f0e68c;
    font-weight: bold
}

/* html/xml tag    - lightyellow */
pre .atn {
    color: #bdb76b;
    font-weight: bold
}

/* attribute name  - khaki */
pre .atv {
    color: #ffa0a0
}

/* attribute value - pink */
pre .dec {
    color: #98fb98
}

/* decimal         - lightgreen */



li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    list-style-type: none;
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {}

ol {
    /*margin: 15px;*/
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    margin-left: 3em;
    /*list-style:none;*/
}

@media print {
    pre.prettyprint {
        background-color: none
    }

    pre .str,
    code .str {
        color: #060
    }

    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: bold
    }

    pre .com,
    code .com {
        color: #600;
        font-style: italic
    }

    pre .typ,
    code .typ {
        color: #404;
        font-weight: bold
    }

    pre .lit,
    code .lit {
        color: #044
    }

    pre .pun,
    code .pun {
        color: #440
    }

    pre .pln,
    code .pln {
        color: #000
    }

    pre .tag,
    code .tag {
        color: #006;
        font-weight: bold
    }

    pre .atn,
    code .atn {
        color: #404
    }

    pre .atv,
    code .atv {
        color: #060
    }
}


.prettyprint.linenums ol,
pre.prettyprint.linenums ol {
    margin: 15px;
    ;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 13px;
    list-style: none;
}

.prettyprint.linenums,
pre.prettyprint.linenums {}

p>code {
    margin: 0 5px;
    background: #ddd;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    display: inline;

}

a>code {
    margin: 0 3px;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #2a7ae2;
}

code {
    max-width: 100%;
}


.highlight .gd .pun {
    color: #c30005;
}


.highlight .gi .pun {
    color: #00913c;
}

.highlighter-rouge {
    background: #f2f2f2;
    color: #c7254e;
    margin: 0 0.3em;
    border-radius: 6px;
    font-size: 0.8em;
    word-break: break-all;
    word-wrap: break-word;
}